.disclaimer {
  background-color: rgb(233, 110, 110);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  border: 0.6px solid rgb(239, 204, 204);
}
.butons-css {
  text-align: center;
  width: 200px;

  border-radius: 10px;
  border: none;
  color: #fff;
  padding: 10px;
  font-weight: bold;
  background-color: red;
}
