<div class="row contatct-body">
  <div class="common-body container mb-3">
    <div class="common-head">
      <h1 *ngIf="this.currentURL == '/main/CancellationRefundPolicy'">
        CANCELLATION & REFUND POLICY
      </h1>
      <h1 *ngIf="this.currentURL == '/main/TermsConditions'">
        TERMS & CONDITIONS
      </h1>
      <h1 *ngIf="this.currentURL == '/main/PrivacyPolicy'">PRIVACY POLICY</h1>
      <h1 *ngIf="this.currentURL == '/main/AboutUs'">ABOUT US</h1>
    </div>
    <div class="common-body-inner">
      <div class="common-body-inner-card">
        <div class="p-3" *ngIf="this.currentURL == '/main/TermsConditions'">
          <h6>
            <b>AGREEMENT BETWEEN USER AND EXPRESS CAR WASH</b>
          </h6>
          <p>
            The EXPRESS CAR WASH Web Site is comprised of various Web pages
            operated by EXPRESS CAR WASH.
          </p>
          <p>
            The EXPRESS CAR WASH Web Site is offered to you conditioned on your
            acceptance without modification of the terms, conditions, and
            notices contained herein. Your use of the EXPRESS CAR WASH Web Site
            constitutes your agreement to all such terms, conditions, and
            notices. MODIFICATION OF THESE TERMS OF USE
          </p>
          <p>
            EXPRESS CAR WASH reserves the right to change the terms, conditions,
            and notices under which the EXPRESS CAR WASH Web Site is offered,
            including but not limited to the charges associated with the use of
            the EXPRESS CAR WASH Web Site.
          </p>
          <h6>LINKS TO THIRD PARTY SITES</h6>
          <p>
            The EXPRESS CAR WASH Web Site may contain links to other Web Sites
            ("Linked Sites"). The Linked Sites are not under the control of
            EXPRESS CAR WASH and EXPRESS CAR WASH is not responsible for the
            contents of any Linked Site, including without limitation any link
            contained in a Linked Site, or any changes or updates to a Linked
            Site. EXPRESS CAR WASH is not responsible for webcasting or any
            other form of transmission received from any Linked Site. EXPRESS
            CAR WASH is providing these links to you only as a convenience, and
            the inclusion of any link does not imply endorsement by EXPRESS CAR
            WASH of the site or any association with its operators. NO UNLAWFUL
            OR PROHIBITED USE
          </p>
          <p>
            As a condition of your use of the EXPRESS CAR WASH Web Site, you
            warrant to EXPRESS CAR WASH that you will not use the EXPRESS CAR
            WASH Web Site for any purpose that is unlawful or prohibited by
            these terms, conditions, and notices. You may not use the EXPRESS
            CAR WASH Web Site in any manner which could damage, disable,
            overburden, or impair the EXPRESS CAR WASH Web Site or interfere
            with any other party's use and enjoyment of the EXPRESS CAR WASH Web
            Site. You may not obtain or attempt to obtain any materials or
            information through any means not intentionally made available or
            provided for through the EXPRESS CAR WASH Web Sites.
          </p>
          <h6>USE OF COMMUNICATION SERVICES</h6>
          <p>
            The EXPRESS CAR WASH Web Site may contain bulletin board services,
            chat areas, news groups, forums, communities, personal web pages,
            calendars, and/or other message or communication facilities designed
            to enable you to communicate with the public at large or with a
            group (collectively, "Communication Services"), you agree to use the
            Communication Services only to post, send and receive messages and
            material that are proper and related to the particular Communication
            Service. By way of example, and not as a limitation, you agree that
            when using a Communication Service, you will not:
          </p>
          <p>
            Defame, abuse, harass, stalk, threaten or otherwise violate the
            legal rights (such as rights of privacy and publicity) of others.
          </p>
          <p>
            Publish, post, upload, distribute or disseminate any inappropriate,
            profane, defamatory, infringing, obscene, indecent or unlawful
            topic, name, material or information.
          </p>
          <p>
            Upload files that contain software or other material protected by
            intellectual property laws (or by rights of privacy of publicity)
            unless you own or control the rights thereto or have received all
            necessary consents.
          </p>
          <p>
            Upload files that contain viruses, corrupted files, or any other
            similar software or programs that may damage the operation of
            another's computer.
          </p>
          <p>
            Advertise or offer to sell or buy any goods or services for any
            business purpose, unless such Communication Service specifically
            allows such messages.
          </p>
          <p>
            Conduct or forward surveys, contests, pyramid schemes or chain
            letters.
          </p>
          <p>
            Download any file posted by another user of a Communication Service
            that you know, or reasonably should know, cannot be legally
            distributed in such manner.
          </p>
          <p>
            Falsify or delete any author attributions, legal or other proper
            notices or proprietary designations or labels of the origin or
            source of software or other material contained in a file that is
            uploaded.
          </p>
          <p>
            Restrict or inhibit any other user from using and enjoying the
            Communication Services.
          </p>
          <p>
            Violate any code of conduct or other guidelines which may be
            applicable for any particular Communication Service.
          </p>
          <p>
            Harvest or otherwise collect information about others, including
            e-mail addresses, without their consent.
          </p>
          <p>Violate any applicable laws or regulations.</p>
          <p>
            EXPRESS CAR WASH has no obligation to monitor the Communication
            Services. However, EXPRESS CAR WASH reserves the right to review
            materials posted to a Communication Service and to remove any
            materials in its sole discretion. EXPRESS CAR WASH reserves the
            right to terminate your access to any or all of the Communication
            Services at any time without notice for any reason whatsoever.
          </p>
          <p>
            EXPRESS CAR WASH reserves the right at all times to disclose any
            information as necessary to satisfy any applicable law, regulation,
            legal process or governmental request, or to edit, refuse to post or
            to remove any information or materials, in whole or in part, in
            EXPRESS CAR WASH's sole discretion.
          </p>
          <p>
            Always use caution when giving out any personally identifying
            information about yourself or your children in any Communication
            Service. EXPRESS CAR WASH does not control or endorse the content,
            messages or information found in any Communication Service and,
            therefore, EXPRESS CAR WASH specifically disclaims any liability
            with regard to the Communication Services and any actions resulting
            from your participation in any Communication Service. Managers and
            hosts are not authorized EXPRESS CAR WASH spokespersons, and their
            views do not necessarily reflect those of EXPRESS CAR WASH.
          </p>
          <p>
            Materials uploaded to a Communication Service may be subject to
            posted limitations on usage, reproduction and/or dissemination. You
            are responsible for adhering to such limitations if you download the
            materials.
          </p>
          <h6>
            MATERIALS PROVIDED TO EXPRESS CAR WASH OR POSTED AT ANY EXPRESS CAR
            WASH WEB SITE
          </h6>
          <p>
            EXPRESS CAR WASH does not claim ownership of the materials you
            provide to EXPRESS CAR WASH (including feedback and suggestions) or
            post, upload, input or submit to any EXPRESS CAR WASH Web Site or
            its associated services (collectively "Submissions"). However, by
            posting, uploading, inputting, providing or submitting your
            Submission you are granting EXPRESS CAR WASH, its affiliated
            companies and necessary sublicensees permission to use your
            Submission in connection with the operation of their Internet
            businesses including, without limitation, the rights to: copy,
            distribute, transmit, publicly display, publicly perform, reproduce,
            edit, translate and reformat your Submission; and to publish your
            name in connection with your Submission.
          </p>
          No compensation will be paid with respect to the use of your
          Submission, as provided herein. EXPRESS CAR WASH is under no
          obligation to post or use any Submission you may provide and may
          remove any Submission at any time in EXPRESS CAR WASH's sole
          discretion.
          <p>
            By posting, uploading, inputting, providing or submitting your
            Submission you warrant and represent that you own or otherwise
            control all of the rights to your Submission as described in this
            section including, without limitation, all the rights necessary for
            you to provide, post, upload, input or submit the Submissions.
          </p>
          <h6>LIABILITY DISCLAIMER</h6>
          <p>
            THE INFORMATION, SOFTWARE, PRODUCTS, AND SERVICES INCLUDED IN OR
            AVAILABLE THROUGH THE EXPRESS CAR WASH WEB SITE MAY INCLUDE
            INACCURACIES OR TYPOGRAPHICAL ERRORS. CHANGES ARE PERIODICALLY ADDED
            TO THE INFORMATION HEREIN. EXPRESS CAR WASH AND/OR ITS SUPPLIERS MAY
            MAKE IMPROVEMENTS AND/OR CHANGES IN THE EXPRESS CAR WASH WEB SITE AT
            ANY TIME. ADVICE RECEIVED VIA THE EXPRESS CAR WASH WEB SITE SHOULD
            NOT BE RELIED UPON FOR PERSONAL, MEDICAL, LEGAL OR FINANCIAL
            DECISIONS AND YOU SHOULD CONSULT AN APPROPRIATE PROFESSIONAL FOR
            SPECIFIC ADVICE TAILORED TO YOUR SITUATION.
          </p>
          <p>
            EXPRESS CAR WASH AND/OR ITS SUPPLIERS MAKE NO REPRESENTATIONS ABOUT
            THE SUITABILITY, RELIABILITY, AVAILABILITY, TIMELINESS, AND ACCURACY
            OF THE INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED
            GRAPHICS CONTAINED ON THE EXPRESS CAR WASH WEB SITE FOR ANY PURPOSE.
            TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, ALL SUCH
            INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS ARE
            PROVIDED "AS IS" WITHOUT WARRANTY OR CONDITION OF ANY KIND. EXPRESS
            CAR WASH AND/OR ITS SUPPLIERS HEREBY DISCLAIM ALL WARRANTIES AND
            CONDITIONS WITH REGARD TO THIS INFORMATION, SOFTWARE, PRODUCTS,
            SERVICES AND RELATED GRAPHICS, INCLUDING ALL IMPLIED WARRANTIES OR
            CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE,
            TITLE AND NON-INFRINGEMENT.
          </p>
          <p>
            TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL
            EXPRESS CAR WASH AND/OR ITS SUPPLIERS BE LIABLE FOR ANY DIRECT,
            INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL, CONSEQUENTIAL DAMAGES OR
            ANY DAMAGES WHATSOEVER INCLUDING, WITHOUT LIMITATION, DAMAGES FOR
            LOSS OF USE, DATA OR PROFITS, ARISING OUT OF OR IN ANY WAY CONNECTED
            WITH THE USE OR PERFORMANCE OF THE EXPRESS CAR WASH WEB SITE, WITH
            THE DELAY OR INABILITY TO USE THE EXPRESS CAR WASH WEB SITE OR
            RELATED SERVICES, THE PROVISION OF OR FAILURE TO PROVIDE SERVICES,
            OR FOR ANY INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED
            GRAPHICS OBTAINED THROUGH THE EXPRESS CAR WASH WEB SITE, OR
            OTHERWISE ARISING OUT OF THE USE OF THE EXPRESS CAR WASH WEB SITE,
            WHETHER BASED ON CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY OR
            OTHERWISE, EVEN IF EXPRESS CAR WASH OR ANY OF ITS SUPPLIERS HAS BEEN
            ADVISED OF THE POSSIBILITY OF DAMAGES. BECAUSE SOME
            STATES/JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF
            LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, THE ABOVE
            LIMITATION MAY NOT APPLY TO YOU. IF YOU ARE DISSATISFIED WITH ANY
            PORTION OF THE EXPRESS CAR WASH WEB SITE, OR WITH ANY OF THESE TERMS
            OF USE, YOUR SOLE AND EXCLUSIVE REMEDY IS TO DISCONTINUE USING THE
            EXPRESS CAR WASH WEB SITE.
          </p>
          <h6>TERMINATION/ACCESS RESTRICTION</h6>
          <p>
            EXPRESS CAR WASH reserves the right, in its sole discretion, to
            terminate your access to the EXPRESS CAR WASH Web Site and the
            related services or any portion thereof at any time, without notice.
            GENERAL To the maximum extent permitted by law, this agreement is
            governed by the laws of the State of Washington, U.S.A. and you
            hereby consent to the exclusive jurisdiction and venue of courts in
            King County, Washington, U.S.A. in all disputes arising out of or
            relating to the use of the EXPRESS CAR WASH Web Site. Use of the
            EXPRESS CAR WASH Web Site is unauthorized in any jurisdiction that
            does not give effect to all provisions of these terms and
            conditions, including without limitation this paragraph. You agree
            that no joint venture, partnership, employment, or agency
            relationship exists between you and EXPRESS CAR WASH as a result of
            this agreement or use of the EXPRESS CAR WASH Web Site. EXPRESS CAR
            WASH's performance of this agreement is subject to existing laws and
            legal process, and nothing contained in this agreement is in
            derogation of EXPRESS CAR WASH's right to comply with governmental,
            court and law enforcement requests or requirements relating to your
            use of the EXPRESS CAR WASH Web Site or information provided to or
            gathered by EXPRESS CAR WASH with respect to such use. If any part
            of this agreement is determined to be invalid or unenforceable
            pursuant to applicable law including, but not limited to, the
            warranty disclaimers and liability limitations set forth above, then
            the invalid or unenforceable provision will be deemed superseded by
            a valid, enforceable provision that most closely matches the intent
            of the original provision and the remainder of the agreement shall
            continue in effect. Unless otherwise specified herein, this
            agreement constitutes the entire agreement between the user and
            EXPRESS CAR WASH with respect to the EXPRESS CAR WASH Web Site and
            it supersedes all prior or contemporaneous communications and
            proposals, whether electronic, oral or written, between the user and
            EXPRESS CAR WASH with respect to the EXPRESS CAR WASH Web Site. A
            printed version of this agreement and of any notice given in
            electronic form shall be admissible in judicial or administrative
            proceedings based upon or relating to this agreement to the same
            extent an d subject to the same conditions as other business
            documents and records originally generated and maintained in printed
            form. It is the express wish to the parties that this agreement and
            all related documents be drawn up in English.
          </p>
          <h6>COPYRIGHT AND TRADEMARK NOTICES:</h6>
          <p>
            All contents of the EXPRESS CAR WASH Web Site are: Copyright 2016 by
            EXPRESS CAR WASH and/or its suppliers. All rights reserved.
          </p>
          <h6>TRADEMARKS</h6>
          <p>
            The names of actual companies and products mentioned herein may be
            the trademarks of their respective owners.
          </p>
          <p>Any rights not expressly granted herein are reserved.</p>
          <h6>
            NOTICES AND PROCEDURE FOR MAKING CLAIMS OF COPYRIGHT INFRINGEMENT
          </h6>
          <p>
            Pursuant to Title 17, United States Code, Section 512(c)(2),
            notifications of claimed copyright infringement under United States
            copyright law should be sent to Service Provider's Designated Agent.
            ALL INQUIRIES NOT RELEVANT TO THE FOLLOWING PROCEDURE WILL RECEIVE
            NO RESPONSE. See Notice and Procedure for Making Claims of Copyright
            Infringement.
          </p>
        </div>
        <div
          class="p-3"
          *ngIf="this.currentURL == '/main/CancellationRefundPolicy'"
        >
          <div style="height: 36.6vh; overflow-y: auto">
            <p>
              All refunds and returns are handled by Express Car Management.
              Approval is at the sole discretion of management, and considered
              on a case by case basis. A member of our management can be reached
              by calling either location and requesting to speak with a manager.
              Please reach the site where your purchase was made or leave a
              message for our corporate team by calling 303-558-9790 and
              following the recorded prompts. Thanks so much!
            </p>
          </div>
        </div>
        <div class="p-3" *ngIf="this.currentURL == '/main/PrivacyPolicy'">
          <p>
            EXPRESS CAR WASH is committed to protecting your privacy and
            developing technology that gives you the most powerful and safe
            online experience. This Statement of Privacy applies to the EXPRESS
            CAR WASH Web site and governs data collection and usage. By using
            the EXPRESS CAR WASH website, you consent to the data practices
            described in this statement.
          </p>
          <h6>Collection of your Personal Information</h6>
          <p>
            EXPRESS CAR WASH collects personally identifiable information, such
            as your e-mail address, name, home or work address or telephone
            number. EXPRESS CAR WASH also collects anonymous demographic
            information, which is not unique to you, such as your ZIP code, age,
            gender, preferences, interests and favorites.
          </p>
          <p>
            There is also information about your computer hardware and software
            that is automatically collected by EXPRESS CAR WASH. This
            information can include: your IP address, browser type, domain
            names, access times and referring Web site addresses. This
            information is used by EXPRESS CAR WASH for the operation of the
            service, to maintain quality of the service, and to provide general
            statistics regarding use of the EXPRESS CAR WASH Web site.
          </p>
          <p>
            Please keep in mind that if you directly disclose personally
            identifiable information or personally sensitive data through
            EXPRESS CAR WASH public message boards, this information may be
            collected and used by others. Note: EXPRESS CAR WASH does not read
            any of your private online communications.
          </p>
          <p>
            EXPRESS CAR WASH encourages you to review the privacy statements of
            Web sites you choose to link to from EXPRESS CAR WASH so that you
            can understand how those Web sites collect, use and share your
            information. EXPRESS CAR WASH is not responsible for the privacy
            statements or other content on Web sites outside of the EXPRESS CAR
            WASH and EXPRESS CAR WASH family of Web sites.
          </p>
          <h6>Use of your Personal Information</h6>
          <p>
            EXPRESS CAR WASH collects and uses your personal information to
            operate the EXPRESS CAR WASH Web site and deliver the services you
            have requested. EXPRESS CAR WASH also uses your personally
            identifiable information to inform you of other products or services
            available from EXPRESS CAR WASH and its affiliates. EXPRESS CAR WASH
            may also contact you via surveys to conduct research about your
            opinion of current services or of potential new services that may be
            offered.
          </p>
          <p>
            EXPRESS CAR WASH does not sell, rent or lease its customer lists to
            third parties. EXPRESS CAR WASH may, from time to time, contact you
            on behalf of external business partners about a particular offering
            that may be of interest to you. In those cases, your unique
            personally identifiable information (e-mail, name, address,
            telephone number) is not transferred to the third party. In
            addition, EXPRESS CAR WASH may share data with trusted partners to
            help us perform statistical analysis, send you email or postal mail,
            provide customer support, or arrange for deliveries. All such third
            parties are prohibited from using your personal information except
            to provide these services to EXPRESS CAR WASH, and they are required
            to maintain the confidentiality of your information.
          </p>
          <p>
            EXPRESS CAR WASH does not use or disclose sensitive personal
            information, such as race, religion, or political affiliations,
            without your explicit consent.
          </p>
          <p>
            EXPRESS CAR WASH keeps track of the Web sites and pages our
            customers visit within EXPRESS CAR WASH, in order to determine what
            EXPRESS CAR WASH services are the most popular. This data is used to
            deliver customized content and advertising within EXPRESS CAR WASH
            to customers whose behavior indicates that they are interested in a
            particular subject area.
          </p>
          <p>
            EXPRESS CAR WASH Web sites will disclose your personal information,
            without notice, only if required to do so by law or in the good
            faith belief that such action is necessary to: (a) conform to the
            edicts of the law or comply with legal process served on EXPRESS CAR
            WASH or the site; (b) protect and defend the rights or property of
            EXPRESS CAR WASH; and, (c) act under exigent circumstances to
            protect the personal safety of users of EXPRESS CAR WASH, or the
            public.
          </p>
          <h6>Use of Cookies</h6>
          <p>
            The EXPRESS CAR WASH Web site use "cookies" to help you personalize
            your online experience. A cookie is a text file that is placed on
            your hard disk by a Web page server. Cookies cannot be used to run
            programs or deliver viruses to your computer. Cookies are uniquely
            assigned to you, and can only be read by a web server in the domain
            that issued the cookie to you.
          </p>
          <p>
            One of the primary purposes of cookies is to provide a convenience
            feature to save you time. The purpose of a cookie is to tell the Web
            server that you have returned to a specific page. For example, if
            you personalize EXPRESS CAR WASH pages, or register with EXPRESS CAR
            WASH site or services, a cookie helps EXPRESS CAR WASH to recall
            your specific information on subsequent visits. This simplifies the
            process of recording your personal information, such as billing
            addresses, shipping addresses, and so on. When you return to the
            same EXPRESS CAR WASH Web site, the information you previously
            provided can be retrieved, so you can easily use the EXPRESS CAR
            WASH features that you customized.
          </p>
          <p>
            You have the ability to accept or decline cookies. Most Web browsers
            automatically accept cookies, but you can usually modify your
            browser setting to decline cookies if you prefer. If you choose to
            decline cookies, you may not be able to fully experience the
            interactive features of the EXPRESS CAR WASH services or Web sites
            you visit.
          </p>
          <h6>Security of your Personal Information</h6>
          <p>
            EXPRESS CAR WASH secures your personal information from unauthorized
            access, use or disclosure. EXPRESS CAR WASH secures the personally
            identifiable information you provide on computer servers in a
            controlled, secure environment, protected from unauthorized access,
            use or disclosure. When personal information (such as a credit card
            number) is transmitted to other Web sites, it is protected through
            the use of encryption, such as the Secure Socket Layer (SSL)
            protocol.
          </p>
          <h6>Changes to this Statement</h6>
          <p>
            EXPRESS CAR WASH will occasionally update this Statement of Privacy
            to reflect company and customer feedback. EXPRESS CAR WASH
            encourages you to periodically review this Statement to be informed
            of how EXPRESS CAR WASH is protecting your information.
          </p>
          <h6>Contact Information</h6>
          <p>
            EXPRESS CAR WASH welcomes your comments regarding this Statement of
            Privacy. If you believe that EXPRESS CAR WASH has not adhered to
            this Statement, please contact EXPRESS CAR WASH. We will use
            commercially reasonable efforts to promptly determine and remedy the
            problem.
          </p>
        </div>
        <div class="p-3" *ngIf="this.currentURL == '/main/AboutUs'">
          <div style="height: 36.6vh; overflow-y: auto">
            <p>
              A Family Owned and Operated business in Denver. Conveniently
              located north of Pena Blvd and just 5 miles west of Denver
              International Airport.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
