<!-- <div class="purchase_title">Purchase Carwash</div> -->
<div>
  <div class="row purchase-body">
    <br />

    <div class="container_fluid col-12 p-4">
      <div style="text-align: center; width: 73%; margin: 0 auto">
        <h1 style="color: #f11010; font-size: 30px; font-weight: bold">
          Select The Carwash Package
        </h1>
        <div class="row mt-3 p-3" style="border: 1px solid #c6b5b5">
          <div class="col-md-8">
            <!-- <h1 style="color: red; font-weight: bold">ULTIMATE WASH</h1> -->
            <img
              src="assets/images/wash/standardwash.jpg"
              style="width: 100%"
              height="270px"
              alt=""
            />
          </div>
          <div class="col-md-4 pl-2 mt-2">
            <h3
              style="
                text-align: left;
                font-weight: bold;
                padding-left: 41px;
                font-size: 22px;
              "
            >
              No of carwash to purchase
            </h3>
            <div style="display: block; width: 100%">
              &nbsp;
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1"
                />
                <label class="form-check-label" for="flexRadioDefault1">
                  One
                </label>
              </div>
              &nbsp;
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1"
                />
                <label class="form-check-label" for="flexRadioDefault1">
                  Two
                </label>
              </div>
              &nbsp;
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1"
                />
                <label class="form-check-label" for="flexRadioDefault1">
                  Five
                </label>
              </div>
              &nbsp;
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1"
                />
                <label class="form-check-label" for="flexRadioDefault1">
                  Monthly
                </label>
              </div>
              &nbsp;
            </div>
          </div>
        </div>
      </div>

      <div style="text-align: center; width: 73%; margin: 0 auto">
        <div class="row mt-3 p-3" style="border: 1px solid #c6b5b5">
          <div class="col-md-8">
            <!-- <h1 style="color: red; font-weight: bold">SPECIAL WASH</h1> -->
            <img
              src="assets/images/wash/specilawash.jpg"
              style="width: 100%"
              height="270px"
              alt=""
            />
          </div>
          <div class="col-md-4 mt-2 pl-2 mt-2">
            <h3
              style="
                text-align: left;
                font-weight: bold;
                padding-left: 41px;
                font-size: 22px;
              "
            >
              No of carwash to purchase
            </h3>
            <div style="display: block; width: 100%">
              &nbsp;
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1"
                />
                <label class="form-check-label" for="flexRadioDefault1">
                  One
                </label>
              </div>
              &nbsp;
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1"
                />
                <label class="form-check-label" for="flexRadioDefault1">
                  Two
                </label>
              </div>
              &nbsp;
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1"
                />
                <label class="form-check-label" for="flexRadioDefault1">
                  Five
                </label>
              </div>
              &nbsp;
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1"
                />
                <label class="form-check-label" for="flexRadioDefault1">
                  Monthly
                </label>
              </div>
              &nbsp;
            </div>
          </div>
        </div>
      </div>

      <div style="text-align: center; width: 73%; margin: 0 auto">
        <div class="row mt-3 p-3" style="border: 1px solid #c6b5b5">
          <div class="col-md-8 col-8">
            <!-- <h1 style="color: red; font-weight: bold">STANDARD WASH</h1> -->
            <img
              src="assets/images/wash/ultimatewash.jpg"
              style="width: 100%"
              height="270px"
              alt=""
            />
          </div>
          <div class="col-md-4 pl-2 mt-2">
            <h3
              style="
                text-align: left;
                font-weight: bold;
                padding-left: 41px;
                font-size: 22px;
              "
            >
              No of carwash to purchase
            </h3>
            <div style="display: block; width: 100%">
              &nbsp;
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1"
                />
                <label class="form-check-label" for="flexRadioDefault1">
                  One
                </label>
              </div>
              &nbsp;
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1"
                />
                <label class="form-check-label" for="flexRadioDefault1">
                  Two
                </label>
              </div>
              &nbsp;
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1"
                />
                <label class="form-check-label" for="flexRadioDefault1">
                  Five
                </label>
              </div>
              &nbsp;
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1"
                />
                <label class="form-check-label" for="flexRadioDefault1">
                  Monthly
                </label>
              </div>
              &nbsp;
            </div>
          </div>
        </div>
      </div>
      <br />
      <div style="display: flex; justify-content: center">
        <div (click)="navigateTouser()" class="btn-class">
          <img src="assets/images/checkout.jpeg" height="100" width="100" />
          &nbsp; Checkout &nbsp;
        </div>
      </div>
    </div>
  </div>
</div>
