<!-- <div class="purchase_title">Purchase Carwash</div> -->
<div>
  <div class="row purchase-body">
    <br />

    <div class="container_fluid col-12 p-4" *ngIf="carWashTypes$.length > 0">
      <div style="text-align: center; width: 73%; margin: 0 auto" >
        <h1 style="color: #f11010; font-size: 30px; font-weight: bold">
          Select The Carwash Package
        </h1>
        <div class="row mt-3 p-3" style="border: 1px solid #c6b5b5" *ngFor="let carwash of carWashTypes$;let j = index;">
          <div class="col-md-8">
            <img
              src="{{carwash.imageUrl}}"
              style="width: 100%"
              height="270px"
              alt=""
            />
          </div>
          <div class="col-md-4 pl-2 mt-2">
            <h3
              style="
                text-align: left;
                font-weight: bold;
                padding-left: 41px;
                font-size: 22px;
              "
            >
              No of carwash to purchase
            </h3>
            <div style="display: block; width: 100%">
              &nbsp;
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1{{j}}"
                  value="{{carwash.washBookTypeId}}"
                  (click)="selectCarWashType(carwash,'1',$event)"
                  [checked]="carwash.isChecked && carwash.noOfWashes == '1' ? true : null"
                />
                <label class="form-check-label" for="flexRadioDefault1{{j}}">
                  One  ${{carwash?.price}}
                </label>
              </div>
              &nbsp;
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault2{{j}}"
                  value="{{carwash.washBookTypeId}}"
                  (click)="selectCarWashType(carwash,'2',$event)"
                  [checked]="carwash.isChecked && carwash.noOfWashes == '2' ? true : null"
                />
                <label class="form-check-label" for="flexRadioDefault2{{j}}">
                  Two
                </label>
              </div>
              &nbsp;
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault5{{j}}"
                  value="{{carwash.washBookTypeId}}"
                  (click)="selectCarWashType(carwash,'5',$event)"
                  [checked]="carwash.isChecked && carwash.noOfWashes == '5' ? true : null"
                />
                <label class="form-check-label" for="flexRadioDefault5{{j}}">
                  Five
                </label>
              </div>
              &nbsp;
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefaultMonthly{{j}}"
                  value="{{carwash.washBookTypeId}}"
                  (click)="selectCarWashType(carwash,'monthly',$event)"
                  [checked]="carwash.isChecked && carwash.noOfWashes == 'monthly' ? true : false"
                />
                <label class="form-check-label" for="flexRadioDefaultMonthly{{j}}">
                  Monthly  ${{carwash?.monthlyPrice}}
                </label>
              </div>
              &nbsp;
            </div>
          </div>
        </div>
      </div>
      <br />
      <div style="display: flex; justify-content: center">
        <div (click)="navigateTouser()" class="btn-class">
          <img src="assets/images/checkout.jpeg" height="100" width="100" />
          &nbsp; Checkout &nbsp;
        </div>
      </div>
    </div>
  </div>
</div>
