.header_content {
  background-color: red !important;
  color: #ffff;
}
.navbar-dark .navbar-nav .nav-link {
  color: #ffff !important;
  font-weight: 700;
  font-size: 18px;
}
.nav-item {
  padding-left: 20px;
}
.nav-item a.active {
  color: black !important;
}
