<nav class="navbar navbar-expand-lg navbar-dark header_content p-3">
  <div class="row" style="width: 100%">
    <div class="col-md-3 col-12">
      <a class="navbar-brand" [routerLink]="['/main/dashboard']"
        ><img
          src="
    assets/images/Logo_final.jpg"
          height="70"
          width="150"
        />
      </a>
      <button
        style="float: right"
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="toggleNavbar()"
      >
        <span class="fa fa-bars"></span>
      </button>
    </div>
    <div class="col-md-9 col-12 mt-3">
      <div
        class="collapse navbar-collapse"
        id="navbarSupportedContent"
        [ngClass]="{ show: isCollapsed }"
      >
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a
              class="nav-link menu-item dropdown-toggle"
              data-bs-toggle="dropdown"
              href="#"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Locations
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLinkActive="active"
              [routerLink]="['/main/unlimited']"
              >Unlimited Wash Club
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLinkActive="active"
              [routerLink]="['/main/shop']"
              >Shop</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLinkActive="active"
              [routerLink]="['/main/gift-cards']"
              >Gift Cards</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLinkActive="active"
              [routerLink]="['/main/community']"
              >Community</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLinkActive="active"
              [routerLink]="['/main/join-the-team']"
              >Join the Team</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLinkActive="active"
              [routerLink]="['/main/contact']"
              >Contact</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
