.nav-listitem a {
  color: #fff;
  font-size: 20px;
  padding: 0px 83px 0px 80px;
  position: relative;
  top: 6px;
}
.nav-listitem {
  height: 45px;
}

.active {
  background-color: red;
}
.activeClass {
  background-color: red !important;
  cursor: pointer;
}

.hoverClass {
  cursor: pointer;
}
