<div class="contact_title">CONTACT</div>
<div class="row contatct-body">
  <div class="container -fluid">
    <div class="row mt-3">
      <div class="col-md-6 sub-title1 col-12">WE WANT TO HEAR FROM YOU</div>
      <div class="col-md-6 sub-title2 col-12">Camel Express Car Washes</div>
    </div>
    <div class="row">
      <div class="col-md-6 tex-center">
        <div class="card contact_details_card">
          <p><b>I have a...*</b></p>
          <div class="d-flex">
            <span><input type="radio" class="mt-2" /></span> &nbsp;
            <p>Compliment or comment about your car wash</p>
          </div>
          <div class="d-flex">
            <span><input type="radio" class="mt-2" /></span> &nbsp;
            <p>Complaint about something that went wrong</p>
          </div>
          <div class="d-flex">
            <span><input type="radio" class="mt-2" /></span> &nbsp;
            <p>Question or suggestion for you</p>
          </div>
          <div class="d-flex">
            <span><input type="radio" class="mt-2" /></span> &nbsp;
            <p>General Inquiry or Message</p>
          </div>
          <div class="d-flex">
            <span><input type="radio" class="mt-2" /></span> &nbsp;
            <p>Wash Club I'd like to cancel</p>
          </div>
          <div class="d-flex">
            <span><input type="radio" class="mt-2" /></span> &nbsp;
            <p>Fleet Plan inquir</p>
          </div>
          <p><b>Regarding which store location?*</b></p>
          <select class="input_select">
            <option value="3430 Doverside Drive (DOVERSIDE DRIVE)">
              3430 Doverside Drive (DOVERSIDE DRIVE)
            </option>
            <option value="335 Harding Place (HARDING PLACE)">
              335 Harding Place (HARDING PLACE)
            </option>
            <option value="2031 Ed Temple Boulevard (ED TEMPLE)">
              2031 Ed Temple Boulevard (ED TEMPLE)
            </option>
          </select>
          <br />
          <p><b>Your Name*</b></p>
          <div class="row">
            <div class="col-md-6">
              <input type="text" class="input_select" placeholder="First" />
            </div>
            <div class="col-md-6 last_name">
              <input type="text" class="input_select" placeholder="Last" />
            </div>

            <p class="mt-3"><b>Your Email*</b></p>
            <div class="col-md-12">
              <input type="text" class="input_select" placeholder="Email" />
            </div>
            <br />
            <p class="mt-2"><b>May we contact you by phone?</b></p>
            <div class="col-md-12 d-flex">
              <div class="d-flex">
                <span><input type="radio" class="mt-2" /></span> &nbsp;
                <p>YES</p>
              </div>
              &nbsp; &nbsp; &nbsp;
              <div class="d-flex">
                <span><input type="radio" class="mt-2" /></span> &nbsp;
                <p>NO</p>
              </div>
              <br />
            </div>
            <p><b>Your Questions or Suggestions*</b></p>
            <textarea class="input_select" cols="8" rows="8"></textarea>
          </div>
          <br />
          <p style="font-size: 14px">0 of 5000 max characters</p>
          <p>
            We love to hear from our customers. Let us know what's on your mind
          </p>
          <br />
          <p class="mt-2">
            <b
              >May we add you to our email list to receive occasional special
              deals and offers?</b
            >
          </p>
          <div class="col-md-12 d-flex">
            <div class="d-flex">
              <span><input type="radio" class="mt-2" /></span> &nbsp;
              <p>YES</p>
            </div>
            &nbsp; &nbsp; &nbsp;
            <div class="d-flex">
              <span><input type="radio" class="mt-2" /></span> &nbsp;
              <p>NO</p>
            </div>
            <br />
          </div>

          <button
            class="btn btn-danger p-3"
            style="font-size: 18px; font-weight: 800"
          >
            Send Us Your Thoughts
          </button>
        </div>
      </div>
      <div class="col-md-6 details_mobile">
        <div class="row">
          <div class="col-md-6 details_font">
            <b class="font_size">Camel Express 1</b>
            <p class="mb-0 font_size">3430 Doverside Drive</p>

            <p class="font_size">Nashville, TN 37207</p>
          </div>
          <div class="col-md-6 details_font">
            <b class="font_size">Camel Express 1</b>
            <p class="mb-0 font_size">3430 Doverside Drive</p>

            <p class="font_size">Nashville, TN 37207</p>
          </div>
          <div class="col-md-6 details_font">
            <b class="font_size">Camel Express 3</b>
            <p class="mb-0 font_size">3430 Doverside Drive</p>

            <p class="font_size">Nashville, TN 37207</p>
          </div>
          <div class="col-md-6 details_font">
            <b class="font_size">Camel Express 2</b>
            <p class="mb-0 font_size">3430 Doverside Drive</p>

            <p class="font_size">Nashville, TN 37207</p>
          </div>
        </div>
        <br />
        <div>
          <h2 style="color: red; padding-left: 150px">(615) 469-2227</h2>
          <br />
          <h4 style="color: red; padding-left: 100px">
            Interested in joining The Camel Team?
          </h4>
        </div>

        <br />
      </div>
    </div>
    <br />
    <div class="container-fluid" style="padding: 50px"><app-map></app-map></div>
    <br />
    <br />
  </div>
</div>
