.contact_title {
  font-weight: bolder;
  padding: 30px;
  text-align: center;
  background-color: #3a4341;
  font-size: 50px;
  color: #f8f8f8;
}
.contatct-body {
  background-color: #ffff;
}
.sub-title1 {
  font-size: 30px;
  color: red;
  font-style: italic;
  text-align: center;
  font-weight: 700;
}
.sub-title2 {
  font-size: 25px;
  color: red;
}

.contact_details_card {
  width: 450px;
  margin: 0 auto;
  background-color: #dad5d5;
  border: 1px solid #dad5d5;
  border-radius: 10px;
  padding: 20px;
}
.contact_details_card p {
  font-size: 18px;
}
input[type="radio"] {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
  transform: scale(1.5);
}
.input_select {
  border: 0px;
  padding: 10px;
  outline: none;
  box-shadow: none;
  border-radius: 6px;
  width: 100%;
}
.details_font p b {
  font-size: 22px !important;
}
.font_size {
  font-size: 20px;
}
@media (max-width: 576px) {
  .contact_details_card {
    width: 100%;
    margin: 0 auto;
    background-color: #dad5d5;
    border: 1px solid #dad5d5;
    border-radius: 10px;
    padding: 20px;
  }
  .last_name {
    margin-top: 10px;
  }
  .details_mobile {
    text-align: center;
  }
}
