.user-card {
  margin-bottom: 10px; /* Added */
  width: 100%;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
}
.reservation-summary {
  border: 0.8px solid #c0aeae;
}
p {
  margin-bottom: 2px;
}
.signin-btn {
  text-align: center;
  width: 200px;

  border-radius: 10px;
  border: none;
  color: #fff;
  padding: 10px;
  font-weight: bold;
  background-color: red;
}
