<!-- <div class="user-title">User Details</div> -->
<div style="width: 73%; margin: 0 auto">
  <div class="user-content">
    <div class="user-card p-4 row" style="width: 100%">
      <div class="col-md-7 col-sm-7">
        <h3 style="color: red; font-size: 20px">Confirmation</h3>
        <hr style="color: red; border-bottom: 2px solid red" />

        <h3 class="thank-msg">Thank you for booking!</h3>
        <p style="line-height: 23px !important">
          A copy of your reservation will be emailed to you shortly. Through
          this email you can print, edit or cancel your reservation. If you
          don't receive it in the next 2-3 minutes, please check your spam
          folder. If you have any questions regarding your reservation, you may
          call us at
          <a href="tel:3035589790" style="color: black; text-decoration: none">
            303-558-9790
          </a>
          <a
            href="mailto:someone@example.com"
            style="color: black; text-decoration: none"
          >
            &nbsp;service@park2jectcexpresscarwash.com</a
          >
        </p>

        <div style="display: flex; justify-content: center">
          <button class="btn btn signin-btn">View Details</button>
        </div>
      </div>

      <div class="col-md-5 col-sm-5 text-center">
        <p>RESERVATION SUMMERY</p>

        <hr style="color: red; border-bottom: 2px solid red" />
      </div>
    </div>
  </div>
</div>
