<div>
  <div class="contact_title">TEXT CLUB</div>

  <div class="p-5">
    <div class="join-now">JOIN NOW & GET A FREE WASH TODAY!</div>
    <br />
    <div class="mobile-no card">
      <label>Mobile Number*</label>
      <p style="font-size: 14px">i.e. 3214564321 no dashes or spaces</p>
      <input type="number" class="input-number" />
    </div>
    <br />
    <div class="signup-text-data">
      <p class="text-center; font-style:italic;">
        By providing your number, you consent to receive text messaging from
        Camel Express Car Wash and/or its affiliates in connection with your
        request. Up to 6 messages per month. Consent is not required to buy
        goods or services. Limit: One coupon per cell number. Offer not valid
        with any other coupons or discounts & only good while supplies last.
        Message and data rates apply.
      </p>
      <p class="text-center">
        <a href="https://optspot.com/tnc" target="_blank"
          >Terms and Conditions / Privacy Policy</a
        >
      </p>
      <br />
      <div class="mobile-no card" style="width: 100%">
        <div class="card d-flex" style="background-color: whitesmoke">
          <h6 class="text-left p-2">I AGREE</h6>
          <input type="radio" class="input-radio" />
        </div>
      </div>

      <button class="btn btn-danger" style="width: 100%">
        Please finish the form
      </button>
    </div>
    <br />
    <div class="join-now1">
      <h3 style="font-weight: 800; font-style: italic">
        EXCLUSIVE MEMBER BENEFITS:
      </h3>
      <ul style="list-style-type: disc">
        <li>Free washes on your birthday</li>
        <li>One monthly special discount</li>
        <li>Exclusive text club member offers</li>
        <li>A FREE wash on signup</li>
      </ul>
      <b
        >We promise to reach out only occasionally with a super deal, offer, or
        discount we *know* you'll love!</b
      >
    </div>
  </div>
</div>
