.user-card {
  margin-bottom: 10px; /* Added */
  width: 100%;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
}
.required {
  color: red;
}
.logo {
  width: 210px;

  margin: 0 45px 35px;
  object-fit: contain;
}
.input_box {
  box-shadow: none;
  outline: none;
}
.user-title {
  font-weight: bolder;
  padding: 30px;
  text-align: center;
  background-color: #3a4341;
  font-size: 40px;
  color: #f8f8f8;
}
label {
  font-weight: bold;
  font-size: 18px;
}

.signin-btn {
  text-align: center;
  width: 300px;

  border-radius: 10px;
  border: none;
  color: #fff;
  padding: 10px;
  font-weight: bold;
  background-color: red;
}

.forgot-btn {
  position: relative;
  left: 75%;
  top: -38px;
  color: #517caf;
}

.user-fotter {
  font-size: 12px;
}

.toast {
  margin-top: 60px !important;
}

.toast-top-center {
  top: 60px !important;
}
.sign_up {
  cursor: pointer;
}
