<div class="container-fluid community-body">
  <div class="text-center">
    <h1 class="head_title">WE BELIEVE IN COMMUNITY!</h1>
    <p>
      We are proud to support organizations making a difference in our community
      and beyond! If you would like to partner with Camel Express in doing good
      things, please tell us more below.
    </p>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label for="">Name *</label>
      <input type="text" class="input_select" />
    </div>
    <div class="col-md-6">
      <label for=""> Organization *</label>
      <input type="text" class="input_select" />
    </div>
    <div class="col-md-6">
      <label for="">Email * </label>
      <input type="text" class="input_select" />
    </div>
    <div class="col-md-6">
      <label for="">Phone *</label>
      <input type="text" class="input_select" />
    </div>
    <div class="col-md-12">
      <label for="">
        Please describe the cause for which you are raising funds. *</label
      >

      <textarea class="input_select" cols="8" rows="8"></textarea>
    </div>
    <div class="col-md-12">
      <h4>File Upload</h4>
      <p>
        You may upload files up to 20MB in size and with a .jpg, .png, .gif, or
        .pdf extension.
      </p>
      <div class="row">
        <div class="col-md-5">
          <input type="file" class="input_select_file" />
        </div>
        <div class="col-md-7 mt-2">
          <b>Accepted file types: jpg, gif, png, pdf, Max. file size: 20 MB.</b>
        </div>
      </div>
      <br />
      <br />
      <button class="btn btn-danger send_button">Send Information</button>
      <br />
    </div>
  </div>
</div>
