<!-- <div class="user-title">User Details</div> -->
<div style="width: 73%; margin: 0 auto">
  <div class="user-content">
    <div class="user-card p-4 pt-0 row" style="width: 100%">
      <h3 style="color: red; font-size: 20px">My Details</h3>

      <hr style="color: red; border-bottom: 2px solid red; opacity: inherit" />
      <div class="col-md-6 col-sm-6 col-12">
        <h3 style="color: red; font-size: 20px">Personal Details</h3>
        <hr
          style="color: red; border-bottom: 2px solid red; opacity: inherit"
        />
        <form [formGroup]="userForm">
          <div class="card-style">
            <!-- <div class="logo">
              <img src="assets/color.png" alt="" />
            </div> -->
            <div class="row">
              <div class="col-md-4 col-sm-4">
                <label> First Name </label>
              </div>

              <div class="col-md-8 col-sm-8 relative">
                <input
                  type="text"
                  class="form-control input_box"
                  formControlName="firstName"
                  placeholder="First Name"
                  [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
                  required
                />
                <span class="required">*</span>
              </div>

              <div
                *ngIf="submitted && f.firstName.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.firstName.errors.required">
                  First name is required
                </div>
              </div>
            </div>
            <div class="mt-3 row">
              <div class="col-md-4 col-sm-4">
                <label> Last Name </label>
              </div>

              <div class="col-md-8 col-sm-8 relative">
                <input
                  type="text"
                  class="form-control input_box"
                  placeholder="Last Name"
                  formControlName="lastName"
                  [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
                  required
                />
                <span class="required">*</span>
              </div>

              <div
                *ngIf="submitted && f.lastName.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.lastName.errors.required">
                  last name is required
                </div>
              </div>
            </div>
            <div class="mt-3 row">
              <div class="col-md-4 col-sm-4">
                <label>Email </label>
              </div>

              <div class="col-md-8 col-sm-8 relative">
                <input
                  type="email"
                  class="form-control input_box"
                  formControlName="email"
                  placeholder="Email"
                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                  required
                />
                <span class="required">*</span>
              </div>

              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">
                  Email must be a valid email address
                </div>
              </div>
            </div>
            <div class="mt-3 row">
              <div class="col-md-4 col-sm-4">
                <label>Confirm Email</label>
              </div>
              <div class="col-md-8 col-sm-8 relative">
                <input
                  type="email"
                  class="form-control input_box"
                  formControlName="confirmemail"
                  placeholder="Confirm Email"
                  [ngClass]="{
                    'is-invalid': submitted && f.confirmemail.errors
                  }"
                  required
                />
                <span class="required">*</span>
              </div>

              <div
                *ngIf="submitted && f.confirmemail.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.confirmemail.errors.required">
                  Email is required
                </div>
                <div *ngIf="f.confirmemail.errors.confirmemail">
                  Email must be a valid email address
                </div>
                <div *ngIf="f.confirmemail.errors.notMatch">
                  Email doesn't match
                </div>
              </div>
            </div>
            <div class="mt-3 row">
              <div class="col-md-4 col-sm-4">
                <label>Mobile </label>
              </div>

              <div class="col-md-8 col-sm-8 relative">
                <input
                  type="text"
                  class="form-control input_box"
                  placeholder="Mobile"
                  formControlName="phone"
                  [maxlength]="10"
                  [ngClass]="{ 'is-invalid': submitted && f.phone.errors }"
                  required
                />
                <span class="required">*</span>
              </div>

              <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                <div *ngIf="f.phone.errors.required">phone No is required</div>
              </div>
            </div>
            <br />
            <!-- <div class="row">
              <div class="col-md-1 col-sm-1 col-1">
                <div class="form-check check-box">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="defaultCheck2"
                    checked
                    style="margin-top: 4px; margin-left: 4px"
                  />
                </div>
              </div>
              <div class="col-md-11 col-sm-11 col-11">
                <p class="form-check-label" for="defaultCheck2">
                  <b>
                    &nbsp; After my stay I would like a copy of my receipt sent
                    to my email</b
                  >
                </p>
              </div>
            </div> -->

            <br />
            <div style="display: flex; justify-content: center">
              <button
                class="signin-btn mt-2"
                type="submit"
                (click)="onSubmit()"
              >
                Save Details and Review
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-2 col-sm-2"></div>
      <div class="col-md-4 col-sm-4 col-12">
        <h4 class="text-center" style="color: red; font-size: 20px">
          CARWASH SUMMERY
        </h4>
        <hr
          style="color: red; border-bottom: 2px solid red; opacity: inherit"
        />

        <div class="reservation-summary p-3">
          <h5><b>Express carwash</b></h5>
          <p>
            Location : 18121 E 81st Ave, <br />
            Commerce City, CO 80022
            <br />
            service@expresscarcaredenver.com
          </p>
          <p>
            <b>Car Wash</b> <br />
            <span>{{ selectedCarWashType?.displayName }}</span>
          </p>

          <div class="row">
            <hr />
            <h4 style="color: red">Price Details</h4>
            <div class="col-6 col-sm-6 col-md-6">Car Wash</div>
            <div class="col-6 col-sm-6 col-md-6 text-center">
              <b>${{ selectedCarWashType?.carWashPrice | number: "1.2-2" }}</b>
              >
            </div>

            <div class="col-6 col-sm-6 col-md-6">Taxes</div>
            <div class="col-6 col-sm-6 col-md-6 text-center">
              <b>${{ selectedCarWashType?.tax | number: "1.2-2" }}</b>
            </div>
            <hr />
            <div
              class="col-5 col-sm-5 col-md-5"
              style="font-size: 25px; color: red; font-weight: bold"
            >
              ${{ selectedCarWashType?.totalFee | number: "1.2-2" }}
            </div>
            <div class="col-7 col-sm-7 col-md-7 text-center mt-2">
              <p style="font-size: 15px; font-weight: 600">
                Pay Now $ {{ selectedCarWashType?.totalFee | number: "1.2-2" }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
