<!-- <div class="user-title">User Details</div> -->
<div style="width: 73%; margin: 0 auto">
  <div class="user-content">
    <div class="user-card p-4 row" style="width: 100%">
      <div class="col-md-1 col-sm-1"></div>
      <div class="col-md-6 col-sm-6">
        <h3 style="color: red; font-size: 20px">MY DETAILS</h3>
        <hr style="color: red; border-bottom: 2px solid red" />
        <form [formGroup]="userForm">
          <div class="card-style">
            <!-- <div class="logo">
              <img src="assets/color.png" alt="" />
            </div> -->
            <div class="row">
              <div class="col-md-4 col-sm-4">
                <label> First Name <span class="required">*</span></label>
              </div>

              <div class="col-md-8 col-sm-8">
                <input
                  type="text"
                  class="form-control input_box"
                  formControlName="name"
                  placeholder="First Name"
                  [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                  required
                />
              </div>

              <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">First name is required</div>
              </div>
            </div>
            <div class="mt-3 row">
              <div class="col-md-4 col-sm-4">
                <label> Last Name <span class="required">*</span></label>
              </div>

              <div class="col-md-8 col-sm-8">
                <input
                  type="text"
                  class="form-control input_box"
                  placeholder="Last Name"
                  formControlName="lastName"
                  [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
                  required
                />
              </div>

              <div
                *ngIf="submitted && f.lastName.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.lastName.errors.required">
                  last name is required
                </div>
              </div>
            </div>
            <div class="mt-3 row">
              <div class="col-md-4 col-sm-4">
                <label>Email <span class="required">*</span></label>
              </div>

              <div class="col-md-8 col-sm-8">
                <input
                  type="email"
                  class="form-control input_box"
                  formControlName="email"
                  placeholder="Email"
                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                  required
                />
              </div>

              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">
                  Email must be a valid email address
                </div>
              </div>
            </div>
            <div class="mt-3 row">
              <div class="col-md-4 col-sm-4">
                <label>Confirm Email<span class="required">*</span></label>
              </div>
              <div class="col-md-8 col-sm-8">
                <input
                  type="email"
                  class="form-control input_box"
                  formControlName="confirmemail"
                  placeholder="Confirm Email"
                  [ngClass]="{
                    'is-invalid': submitted && f.confirmemail.errors
                  }"
                  required
                />
              </div>

              <div
                *ngIf="submitted && f.confirmemail.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.confirmemail.errors.required">
                  Email is required
                </div>
                <div *ngIf="f.confirmemail.errors.confirmemail">
                  Email must be a valid email address
                </div>
              </div>
            </div>
            <div class="mt-3 row">
              <div class="col-md-4 col-sm-4">
                <label>Mobile <span class="required">*</span></label>
              </div>

              <div class="col-md-8 col-sm-8">
                <input
                  type="text"
                  class="form-control input_box"
                  placeholder="Mobile"
                  formControlName="phoneNo"
                  [ngClass]="{ 'is-invalid': submitted && f.phoneNo.errors }"
                  required
                />
              </div>

              <div
                *ngIf="submitted && f.phoneNo.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.phoneNo.errors.required">
                  phone No is required
                </div>
              </div>
            </div>
            <br />
            <br />
            <div style="display: flex; justify-content: center">
              <button
                class="signin-btn mt-2"
                type="submit"
                (click)="onSubmit()"
              >
                Save Details and Review
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-5 col-sm-5 text-center">
        <p>RESERVATION SUMMERY</p>
        <hr style="color: red; border-bottom: 2px solid red" />
      </div>
    </div>
  </div>
</div>
