<div class="footer-body">
  <div class="footer-inner">
    <div class="row">
      <div class="col-md-3 text-center col-sm-3 col-12 mob-view">
        <div class="img_logo_footer">
          <a routerLink="" (click)="gotoTop()">
            <img
              src="assets/images/Logo_final.jpg"
              alt="logo"
              height="70"
              width="150"
            />
          </a>
        </div>
      </div>
      <div class="col-md-3 col-12 mob-view">
        <a [routerLink]="['/main/PrivacyPolicy']" (click)="gotoTop()">
          <h5>Privacy Policy</h5>
        </a>
        <a [routerLink]="['/main/TermsConditions']" (click)="gotoTop()">
          <h5>Terms & Conditions</h5>
        </a>
        <a
          [routerLink]="['/main/CancellationRefundPolicy']"
          (click)="gotoTop()"
        >
          <h5>Cancellation & Refund Policy</h5>
        </a>
      </div>
      <div class="col-md-2 col-12 mob-view">
        <a [routerLink]="['/main/contact']" (click)="gotoTop()">
          <h5>Contact Us</h5>
        </a>

        <a [routerLink]="['/main/AboutUs']" (click)="gotoTop()">
          <h5>About Us</h5>
        </a>
        <h5>Opens Daily</h5>
        <h5>7:00 am - 7:00 pm</h5>
      </div>
      <div class="col-md-4 col-12 col-sm-4 mob-view">
        <a href="mailto:service@expresscarcaredenver.com">
          <h5>
            <i class="fa fa-envelope"></i>
            &nbsp;&nbsp; service@expresscarcaredenver.com
          </h5>
        </a>

        <a href="tel:3035589790">
          <h5>
            <i class="fa fa-phone"></i>

            &nbsp;&nbsp; &nbsp;303-558-9790
          </h5>
        </a>

        <h5>© 2022 expressCarwash All Rights Reserved</h5>
        <h5 style="display: none">
          <a href="https://www.facebook.com/Park2flydenver">
            <i class="fa fa-facebook"> </i
          ></a>

          &nbsp;
          <a href="https://www.instagram.com/park2flydenver/">
            <i class="fa fa-instagram"> </i
          ></a>
          &nbsp;
          <!-- <i class="fa fa-twitter"> </i>&nbsp;
          <i class="fa fa-youtube"></i> -->
        </h5>
      </div>
    </div>
  </div>
</div>
