.footer-body {
  background-color: red;
  height: 18vh;
  color: #fff;
}
.img_logo_footer {
  margin-top: 10px;
}

.footer-inner {
  padding: 24px 60px 0px 60px;
}

a {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}
h5 {
  font-family: "Muli", "Arial Bold", sans-serif !important;

  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #fff;
  transition: all 0.5s;
}
p {
  margin-bottom: 2px;
}

@media (max-width: 576px) {
  .footer-body {
    background-color: red;
    text-align: center;
    color: #fff;
    height: 100%;
    .mob-view {
      margin-bottom: 10px !important;
    }
  }
}
