<div class="footer-head">
  <div class="container">
    <div class="row">
      <div class="col">
        <h4 style="color: yellow; font-family: serif">EXPRESS CARWASH</h4>
        <div class="footer--sub-heading">Locations</div>

        <div class="footer-sub-text">
          <a class="footer-link" href="#">335 Harding Place</a>
        </div>
        <div class="footer-sub-text">
          <a class="footer-link" href="#">3430 Doverside Drive</a>
        </div>
        <div class="footer-sub-text">
          <a class="footer-link" href="#">2031 Ed Temple Blvd</a>
        </div>
      </div>
      <div class="col">
        <div style="padding-top: 12px">&nbsp;</div>
        <!-- <br style="padding-top: 5px" /> -->
        <div class="footer--sub-heading">Coming soon to...</div>

        <div class="footer-sub-text">Hendersonville</div>
        <div class="footer-sub-text">Mt. Juliet</div>
        <div class="footer-sub-text">Franklin</div>
      </div>
      <div class="col" style="text-align: center">
        <div style="padding-top: 12px">
          <i class="bi-facebook" style="font-size: 1.5rem"></i
          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i
            style="font-size: 1.5rem"
            class="bi-instagram"
          ></i>
        </div>
        <div class="footer--timings">Open Daily</div>
        <div class="footer--timings">7:30 am - 7:00 pm</div>
      </div>
      <div class="col-4" style="text-align: right">
        <div>Car wash may close early due to weather</div>
        <div>or mechanical issues.</div>
        <br />
        <div>© Copyright 2021, Camel Express Car Wash.</div>
        <div>All Rights Reserved.</div>
        <div>
          <a class="footer-link" href="#">Terms of Use</a
          >&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#" class="footer-link"
            >Privacy Statement</a
          >&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a class="footer-link" href="#"
            >Refund Policy</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
