.footer-head {
  background-color: red;
  color: white;
  padding: 2rem 0;
}
.footer-text-box {
  line-height: 1.75;
}
.footer-link {
  color: white;
  text-decoration: none;
}
.footer-link:hover {
  color: #8b0000 !important;
}
.footer--sub-heading {
  font-size: 18px;
  font-weight: 500;
}
.footer-sub-text {
  padding: 5px 0;
}
.footer--timings {
  font-size: 20px;
  font-weight: 700;
}
