.contact_title {
  text-transform: uppercase;
  font-weight: bolder;
  padding: 2rem;
  text-align: center;
  background-color: #3a4341;
  font-size: 44px;
  color: #f8f8f8;
}
.img-package {
  //   display: block;
  background-color: #005cb9;
  padding: 3rem;
}
.img-unilimted {
  text-align: center;
  //   padding: 3rem;
  margin: 4rem 0;
}
.sub-heading-links {
  font-size: 24px;
  //   text-align: center;
  padding: 3rem 0 2rem 0;
  font-weight: bolder;
}
.padding-around {
  padding: 20px;
}
.btn-primary.btn-1 {
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  background-color: rgb(88, 34, 34);
  border-color: rgb(88, 34, 34);
  width: 38.375rem;
  height: 3.375rem;
}
.btn-primary.btn-2 {
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  background-color: rgb(88, 34, 34);
  border-color: rgb(88, 34, 34);
  width: 18.625rem;
  height: 3.375rem;
}

.aleardy-member-text {
  font-size: 36px;
  font-weight: 900;
}
// .fleet-plans-text {
//   color: #ed2427;
//   font-size: 27px;
//   font-weight: 600;
// }
.link-cancel {
  text-decoration: none;
  color: #ed2427;
  font-size: 27px;
  font-weight: 600;
}
.btn-primary.btn-3 {
  width: 14.063rem;
  color: #fff;
  background-color: red;
  border-color: red;
  height: 3.438rem;
  font-size: 24px;
  line-height: 24px;
}
.footer-text {
  font-size: 18px;
  text-transform: uppercase;
}
