<div class="contact_title">Unlimited Wash Club</div>
<div class="img-unilimted">
  <div class="container">
    <div class="row">
      <div class="col-12 align-self-center">
        <img
          class="img-package"
          src="../../../assets/images/camel1.png"
          alt="Packages"
        />
      </div>
      <div class="col-12 align-self-center">
        <img
          class="img-package"
          src="../../../assets/images/camel2.jpg"
          alt="Some text"
        />
      </div>
    </div>
  </div>
  <div class="sub-heading-links">Shop Unlimited Wash Club</div>
  <div class="col-12 align-self-center padding-around">
    <button type="button" class="btn btn-primary btn-1">
      <i class="bi bi-flag"></i>&nbsp; Shop Unlimited Wash Club
    </button>
  </div>
  <div class="col-12 align-self-center padding-around">
    <button type="button" class="btn btn-primary btn-1">
      <i class="bi bi-credit-card"></i>&nbsp; Update My Credit Card
    </button>
  </div>
  <div class="col-12 align-self-center padding-around">
    <button type="button" class="btn btn-primary btn-1">
      <i class="bi bi-x-lg"></i>&nbsp; Cancel My Unlimited Wash Club
    </button>
  </div>
  <div class="aleardy-member-text">Already a member?</div>
  <div class="col-12 align-self-center padding-around">
    <button type="button" class="btn btn-primary btn-2">
      <i class="bi bi-person-video2"></i>&nbsp; Manage My UWC Plan
    </button>
  </div>
  <div class="col-12 align-self-center">
    <a class="link-cancel" href="#"
      ><span clas="fleet-plans-text">interested in fleet plans?</span></a
    >
  </div>
  <div class="col-12 align-self-center padding-around">
    <button type="button" class="btn btn-primary btn-3">
      <i class="bi bi-people"></i>&nbsp;CLICK HERE
    </button>
  </div>
  <div class="footer-text">
    <div>
      Our UWC members are billed monthly, in a recurring charge. You can
    </div>
    <div>cancel anytime here, through our website. We cannot accept</div>
    <div>cancellations in person or over the phone.</div>
  </div>
</div>
